{
  "log": {"level": "warn"},
  "inbounds": [{
    "type": "mixed",
    "tag": "hy2-http-in",
    "listen": "127.0.0.1",
    "listen_port": 1081
  }],
  "outbounds": [{
    "type": "socks",
    "tag": "hy2-out",
    "server": "127.0.0.1",
    "server_port": 1080
  }]
}
