<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.shadowsocks.client</string>

    <key>ProgramArguments</key>
    <array>
        <string>__SSLOCAL_BIN__</string>
        <string>-c</string>
        <string>__HOME__/.config/shadowsocks/config.json</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__HOME__/.config/shadowsocks/shadowsocks.log</string>

    <key>StandardErrorPath</key>
    <string>__HOME__/.config/shadowsocks/shadowsocks.err.log</string>

    <key>WorkingDirectory</key>
    <string>__HOME__/.config/shadowsocks</string>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
